<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.bootjava.palette.account.mapper.AccountMapper">

	<select id="isAccountIdCheck" resultType="boolean">
		SELECT CASE WHEN COUNT(ID) = 1 THEN 0 ELSE 1 END AS ID
		FROM ACCOUNT WHERE ID = #{id}
	</select>

	<select id="accountLogin"
		resultType="co.bootjava.palette.account.vo.AccountVO">
		SELECT * FROM ACCOUNT
		WHERE ID = #{id} AND PASSWORD = #{password}
	</select>

	<select id="emailFind"
		resultType="co.bootjava.palette.account.vo.AccountVO">
		SELECT PASSWORD, EMAIL FROM ACCOUNT
		WHERE ID = #{id}
	</select>

	<insert id="accountInsert" parameterType="co.bootjava.palette.account.vo.AccountVO">
		INSERT INTO ACCOUNT
		VALUES(#{id}, #{password}, #{name}, #{email}, #{address}, 'user', 0, 0, #{school},
		#{major}, #{image})
	</insert>

	<select id="accountList"
		resultType="co.bootjava.palette.account.vo.AccountVO">
		SELECT * FROM ACCOUNT WHERE ROLE = 'user' ORDER BY FOLLOWER DESC
	</select>

	<select id="accountSelected"
		resultType="co.bootjava.palette.account.vo.AccountVO">
		SELECT * FROM ACCOUNT WHERE ID = #{id}
	</select>

	<select id="mainAccountList"
		resultType="co.bootjava.palette.account.vo.AccountVO">
		SELECT * FROM (SELECT * FROM ACCOUNT ORDER BY FOLLOWER DESC) WHERE
		ROWNUM <![CDATA[<=]]>3
	</select>

	<update id="updateAccountFollower"
		parameterType="co.bootjava.palette.account.vo.AccountVO">UPDATE ACCOUNT SET FOLLOWER = #{follower} WHERE ID =
		#{id} </update>

	<select id="accountListM"
		resultType="co.bootjava.palette.account.vo.AccountVO">
		SELECT * FROM ACCOUNT WHERE ROLE = 'user' ORDER BY ban DESC
	</select>
	
	<delete id="accountDelete">
		DELETE FROM ACCOUNT WHERE ID = #{id}
	</delete>
</mapper>
